body {
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  background-color: #363636;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.5;
}

div {
  display: block;
}

a {
  text-decoration: none;
  color: white;
}

img {
  object-fit: cover;
  display: block;
}

/* Container */
#container {
  /* Simula la cornice del mockup */
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 100px; /* per vedere meglio le proporzioni del piè di pagina */
  border: 1px solid #dee1e3;
  background-color: #e9edee;
}

/* Colors */
.bgDarkGrey {
  background-color: #222f3f;
}
.bgGrey {
  background-color: #364759;
}
.bgOrange {
  background-color: #f56600;
}

.colorWhite {
  color: white;
}
.colorLightBlue {
  color: #0f6679;
}
.colorBlack {
  color: black;
}

/* Logo */
#logo {
  height: 3.5rem;
}

#logo > img {
  width: 100px;
  padding: 0.8rem 2rem;
}

/* Navigation */
/* per la centratura verticale https://www.w3schools.com/howto/howto_css_center-vertical.asp */
/* NAV è il contenitore dell'immagine quindi deve avere il 'position: relative;' */
nav {
  height: 2.1rem;
  border-bottom: 1px solid black;
  position: relative;
}

nav ul {
  padding-left: 2rem;
  font-size: 0.9rem;
  /* La lista è il contenuto e quindi deve essere traslato e avere posizione assoluta */
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  /* Per quando la pagina si riduce di larghezza */
  text-align: center;
}

nav ul li {
  display: inline;
  padding: 0 0.9rem 0 0;
  /* Per quando la pagina si riduce di larghezza */
  white-space: none;
}

/* Main content */
main {
  margin: 2rem;
}

/* Orange Box */
#orangeBox {
  color: white;
  height: 1.4rem;
  text-align: center;
  padding-top: 0.6rem;
  font-size: 0.9rem;
}

/* Sections */
#section1,
#section2,
#section3,
#section4 {
  margin-top: 2rem;
}

#section2 {
  background-color: white;
  text-align: center;
}

/* Holiday Gift Guides */
#holidayGiftGuides {
  height: 9em;
  color: white;
  text-align: center;
  background-image: url('../images/bg-image.png');
  background-position: center;
  background-position: top;
}

#holidayGiftGuides > p {
  font-weight: bold;
  font-size: 1.9rem;
  padding-top: 4rem;
}

#holidayGiftGuides p:last-child {
  font-size: 1rem;
  padding-top: 1.5rem;
}

/* Section 2 */
#sec2DivText {
  text-align: left;
  font-size: 1.2rem;
  font-weight: bold;
  padding-top: 1.3rem;
  padding-left: 1.3rem;
}

[id*='section'] .link {
  font-size: 0.9rem;
  margin-left: 0.8rem;
  font-weight: bold;
}

[id*='section'] .link a {
  color: #125a66;
}

/* Images */
#sec2DivImages {
  text-align: center;
  width: 100%;
}

.sec2DivImage {
  width: 270px;
  height: 335px;
  display: inline-block;
  border-radius: 5%;
  margin: 1rem 0.8rem;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.5);
}

/* Individual Images */
#sec2Img1 {
  background-image: url('../images/img_1.jpg');
}
#sec2Img2 {
  background-image: url('../images/img_2.jpg');
}
#sec2Img3 {
  background-image: url('../images/img_3.jpg');
}
#sec2Img4 {
  background-image: url('../images/img_4.jpg');
}
#sec2Img1,
#sec2Img2,
#sec2Img3,
#sec2Img4,
#sec3Img1,
#sec4Img1 {
  background-size: cover;
  background-position: center;
}

#sec3Img1 {
  background-image: url('../images/img_9.png');
}
#sec4Img1 {
  background-image: url('../images/img_10.png');
}

#sec3Img1,
#sec4Img1 {
  height: 375px;
}

/* Section 3 and Section 4 */
#sec3DivText,
#sec4DivText {
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  padding-top: 0.5rem;
}

/* Footer */
#footerDivText {
  height: 2.3rem;
  padding-top: 1.2rem;
  font-size: 0.9rem;
  font-weight: 700;
  text-align: center;
  color: white;
}

#footerDivText a {
  color: white;
  text-decoration: underline;
}

/* Footer Logo */
#logoFooter {
  text-align: center;
  height: 11rem;
  position: relative;
}

#logoFooter img {
  width: 145px;
  /* Vedi soluzione per la centratura verticale nell'header... */
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#note {
  font-size: 1rem;
  margin: 0 auto;
  border: 1px solid black;
  background-color: white;
  text-align: center;
  padding: 1rem;
  font-weight: bold;
}
